BOX_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxp
BOX_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXQ
BOX_JWT_CONFIG_FILE=.box_config.json
BOX_SUBJECT_TYPE=enterprise
BOX_SUBJECT_ID=1371458327
BOX_REDIRECT_URL=http://localhost:8000/callback
